@media only screen and (max-width: 800px){
    .swiper-button-next::after, 
    .swiper-button-prev::after {
        display: none;
    }    
}
.swiper-button-next::after, 
.swiper-button-prev::after {
    color: #a7aeb9 !important;
    font-size: 25px;
}

.swiper-pagination-bullet {
    background-color: #a7aeb9;
}