---
import { Image } from "astro:assets";
import vector1 from "../../public/icons/vector-1.svg";


---

<div class="bg-primary w-full py-14 border-b-black border-b-8">
  <div class="w-5/12 bg-white border-black border-2 m-auto h-16 flex">
    <div
    class="w-6/12 gap-3 flex border-black border-2 items-center justify-start pl-3 hover:bg-gdsc-green transition-all duration-300 cursor-pointer"
    >
      <Image
        src={vector1}
        alt="Ícone"
        height={30}
        width={30}
      />
      {/* <MyImage src="/icons/vector-1.svg" alt="Ícone" /> */}
      <h1 class="font-medium text-2xl">gustavodscruz</h1>
    </div>
    <div
      class="w-3/12 flex border-black border-2 items-center justify-center hover:bg-gdsc-green transition-all duration-300 cursor-pointer"
    >
      <p class="font-medium text-2xl">About //</p>
    </div>
    <div
      class="w-3/12 flex border-black border-2 items-center justify-center hover:bg-gdsc-green transition-all duration-300 cursor-pointer"
    >
      <p class="font-medium text-2xl">Portfolio</p>
    </div>
    <div
      class="w-3/12 flex border-black border-2 items-center justify-center hover:bg-gdsc-green transition-all duration-300 cursor-pointer"
    >
      <p class="font-medium text-2xl">Hire Me</p>
    </div>
  </div>
</div>
