---
import { Image } from "astro:assets";
import smile from "../../public/icons/smile-icon.webp";
---

<section class="py-10 flex gap-10">
  <div class="w-1/2 flex flex-col gap-5">
    <Image
      src={smile}
      alt={"Ícone com sorriso :)"}
      height={smile.height}
      width={smile.width}
    />
    <h2 class="font-bold text-3xl">I design ✍️ top notch websites</h2>
    <a class="p-5 bg-[#bae6ff]">See Portfolio</a>
  </div>
  <div class="w-1/2 flex"></div>
</section>
